.jumbotron .col-md-6 .display-4{
    color:red
}

.nav span{
    color:blue
}

.jumbotron .col-md-6 a{
    color: green;
}

.col-md-8 .blog-post:first-of-type{
    color:blueviolet
}

.blog-post hr{
    color:red
}

.container hr{
    border-color: red;
}

.nav span:nth-child(even){
    color: red
}

.p-4 .mb-0 a{
    color: red;
}

.col-md-8 .blog-post:nth-child(3) .blog-post-meta a{
    color: yellow;
}

.col-md-8 .blog-post:nth-child(4) li:nth-child(2){
    color:green;
} 


.float-right{
    color:red;
}
.blog-pagination a:nth-child(2){
    color:red;
}

